h3 {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px;
}

.choice-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    font: 16px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: beige;
    min-width: 50%;
}

.choice-prefix {
    padding: 15px; 
}

.choice-text {
    padding: 15px; 
    width: 100%;
}

.game {
    text-align: center;
    justify-content: space-between;
}